<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="card">
            <h1 style="text-align: center;">New Ninja</h1>
            <form action="/create" method="post">
                <div class="form-group">
                    <!-- <label for="dojo_id">Dojos:</label> -->
                    <select name="dojo_id" id="dojo_id" class="custom-select">
                        <option selected>Available Dojos</option>
                        {% for dojo in dojos %}
                            <option value="{{dojo.id}}">{{dojo.name}} {{dojo.id}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Bobby">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Hill">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" class="form-control" name="age" id="email" placeholder="13">
                </div>
                <input type="submit" value="Add Ninja" class="btn btn-outline-dark">
            </form>
            <div class="card">
                Ninjas:
                {% for ninja in ninjas %}
                <p>{{ninja.first_name}} Dojo: {{ninja.dojo_id}}</p>
                {% endfor %}
            </div>
        </div>
        <button><a href="/dojos">Home</a></button>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>